<header class="udemy-header">
  <link rel="stylesheet" href="{{style}}/assets/css/style.css">
  <div class="header-container">
    <a href="{{ROOT}}" style="text-decoration: none;">
      <h1 style="font-weight: 900; margin-top: 0px; margin-bottom: 0px;">logo</h1>
    </a>
    <div class="categories-dropdown">
      <a href="{{ROOT}}/home" class="dropdown-button">Categories</a>
      <div class="dropdown-content">
        <a href="{{ROOT}}/home/development">Development</a>
        <a href="{{ROOT}}/home/business">Business</a>
        <a href="{{ROOT}}/home/it-software">IT & Software</a>
        <a href="{{ROOT}}/home/design">Design</a>
        <a href="{{ROOT}}/home/marketing">Marketing</a>
      </div>
    </div>
      
    <div class="search-bar">
      <input type="text" placeholder="Search for anything">
      <button class="search-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
      </button>
    </div>

    <nav class="nav-links">
      <a href="{{ROOT}}/user/signup/writer" class="nav-link">Be a writer</a>
    </nav>

    <div class="user-actions">
        {% if not USER_DATA %}
          <a href="{{ROOT}}/user/login" class="btn btn-outline">Log in</a>
          <a href="{{ROOT}}/user/signup" class="btn btn-primary">Sign up</a>
          {% else %}
            <div class="categories-dropdown">
              <button class="dropdown-button">{{USER_DATA["firstname"]}}</button>
              <div class="dropdown-content">
                <a href="{{ROOT}}/dashboard">Dashboard</a>
                <a href="{{ROOT}}/dashboard/profile">Profile</a>
                <a href="{{ROOT}}/user/logout">logout</a>
              </div>
            </div>
        {% endif %}
    </div>
  </div>
</header>